* {
    margin: 0;
    padding: 0;
}
.background {
    width: 100%;
    height: auto;
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.text-btn {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}
ul li {
    float: left;
    list-style: none;
    height: auto;
}
  
button {
    background: none;
    border: none;
}
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 81px; 
}
.logo {
    width: 146.84px;
    height: 15.26px;
    margin-right: 287.83px;
}
.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 103px;
    height: 37px;
    border-radius: 10px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.btn-login-img {
    width: 16px;
    height: 17px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.btn-login-text {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 167.3%;
    margin: 0 0 0 6.67px;
    text-decoration: none;
    letter-spacing: 0%;
    text-align: left;
}
.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.create-acc-conteiner {
    display: flex;
    justify-content: flex-start;
    margin: 131px 0 0 0;
}
.create-acc-content {
    display: flex;
    flex-direction: column;
    margin-left: 352px;
    gap: 32px;
    width: 438.72px;
}
.create-acc-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
}
.create-acc-under-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.create-acc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 212px;
    height: 50px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.create-acc-btn-text {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.public-trading-conteiner {
    display: flex;
    justify-content: center;
    margin: 122px 0 0 0;
}
.public-trading-bg {
    width: 1220px;
    height: 2295px;
    border-radius: 20px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.04);
}
.public-trading-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 101px 0 0 0;
}
.public-trading-header-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.public-trading-under-header-text {
    width: 956px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: center;
}
.public-trading-content {
    display: flex;
    justify-content: center;
    gap: 89.98px;
    margin: 69px 0 0 0;
}
.public-trading-content-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.line {
    width: 208px;
    height: 2px;
    border-radius: 20px;
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.public-trading-content-paragraph-text-1 {
    width: 551px;
    height: 102px;
    color: rgb(255, 255, 255);
    font-family: Montserrat,sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.public-trading-content-paragraph-text-2 {
    width: 595px;
    height: 108px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: left;
}
.how-work-conteiner {
    margin: 87.76px 0 0 0;
}
.how-work-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.line-2 {
    width: 208px;
    height: 2px;
    border-radius: 20px;
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.how-work-header-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 129.3%;
    letter-spacing: 0%;
    text-align: center;
}
.how-work-content {
    display: flex;
    justify-content: center;
    margin: 43px 0 0 0;
    gap: 58px;
}
.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 282.03px;
    align-items: center;
}
.bg-card-1 {
    width: 299px;
    height: 282.03px;
    border-radius: 20px;
    background: rgb(26, 38, 53);
}
.bg-ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 79px;
    border-radius: 100%;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.04);
}
.card-1-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}
.card-1-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}
.card-1-under-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 230px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}
.instructions-conteiner {
    margin:  76.97px;
}
.instructions-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.instructions-header-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 129.3%;
    letter-spacing: 0%;
    text-align: center;
}
.instructions-content {
    display: flex;
    justify-content: center;
    margin: 41.76px 0 0 0;
}
.instructions-content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1012px;
    height: 583px;
    background-image: url("../img/instructions-photo-1.png");
}
.instructions-content-image-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1012px;
    height: 583px;
    background-image: url("../img/instructions-photo.png");
}
.play-ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 114px;
    border-radius: 100%;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}
.trading-in-the-past-conteiner {
    margin: 101px 0 0 0;
}
.trading-in-the-past-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trading-in-the-past-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.trading-in-the-past-header-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 167.3%;
    width: 956px;
    height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.trading-in-the-past-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 89.98px;
    margin: 61px 0 0 0;
}
.trading-in-the-past-bg-card {
    width: 316px;
    height: 320px;
    border-radius: 20px;
    background: rgb(31, 44, 61);
}
.trading-in-the-past-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 320px;
    align-items: center;
}
.trading-in-the-past-card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 682px;
    height: 690px;
}
.trading-in-the-past-footer-conteiner {
    display: flex;
    justify-content: center;

}
.trading-in-the-past-footer {
    display: flex;
    justify-content: flex-end;
    margin: 50px 153px 0 0;
    width: 1174px;
}
.trading-in-the-past-footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 365px;
    height: 56px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.trading-in-the-past-footer-btn-text {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.feedback-conteiner {
    display: flex;
    justify-content: center;
    margin: 98px 0 0 0;
}
.feedback-conteiner-bg {
    width: 1218px;
    height: 599px;
    border-radius: 20px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.06);
    margin: 0 0 100px 0
}
.feedback-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 0 0;
}
.feedback-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.feedback-header-text {
    width: 745px;
    height: 68px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
}
.feedback-content-data {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin: 40px 0 0 0;
}
.feedback-input-data {
    padding-left: 27px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.06);
    width: 423px;
    height: 56px;
    outline: none;
    background-color: transparent;
    /* стили текста */
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
input {
    border: none;
}
.feedback-input-data::placeholder {
    color: rgb(220, 220, 220);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.feedback-input-data.placeholder-hidden::placeholder {
    opacity: 0;
}
.feedback-content-message {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}
.feedback-input-message {
    padding-left: 27px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.06);
    width: 906px;
    height: 106px;
    outline: none;
    background-color: transparent;
    /* стили текста */
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.feedback-input-message::placeholder {
    color: rgb(220, 220, 220);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.feedback-input-message.placeholder-hidden::placeholder {
    opacity: 0;
}
.feedback-send-message {
    display: flex;
    justify-content: center;
}
.feedback-send-message-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    width: 280px;
    height: 56px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.feedback-send-message-btn-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}
.footer-container-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 211px;
    background: rgb(23, 27, 45);
}
.footer-content-column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.74px;
}
.footer-content-column-1-text {
    width: 235px;
    height: 30px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}
.footer-content-column-2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 77px;
    gap: 29px;
}
.footer-content-column-3 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
    gap: 29px;
}
.footer-content-column-3 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
    gap: 29px;
}
.footer-content-column-4 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 325px;
    gap: 29px;
}
.icons {
    display: flex;
    gap: 23.4px;
}
.footer-content-column-4-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.bg-login {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-auth.png);
    background-repeat: no-repeat;
}
.login-conteiner {
    display: flex;
    justify-content: center;
    margin: 99px;
}
.login-conteiner-bg {
    width: 790px;
    height: 635px;
    border-radius: 20px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.06);
}
.login-conteiner-header {
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
}
.login-conteiner-header-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: center;
}
.login-choice-earn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    margin: 32px 0 0 0;
}
.login-choice-earn-passive-income {
    display: flex;
    align-items: center;
    gap: 7px;
}
.login-choice-earn-public-trading {
    display: flex;
    align-items: center;
    gap: 7px;
}
.icon-question {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
    position: relative; 
}
.login-choice-earn-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    transition: color 0.5s ease;
    position: relative; 
    display: inline-block; /* Важное добавление */
    padding-bottom: 5px; /* Место для подчеркивания */
}
.active-button .login-choice-earn-text {
    color: rgb(115, 255, 242) !important;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.active-button .login-choice-earn-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(115, 255, 242);
}
.icon-question {
    position: relative;
}

.icon-question[data-tooltip] {
    position: relative;
    cursor: help;
}

.icon-question[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    background: rgb(46, 59, 77);
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    
    white-space: nowrap;
    z-index: 10;
    font-size: 14px;
    
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.icon-question[data-tooltip]:hover::after {
    opacity: 1;
}
.login-input-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 39px 0 0 0;
    gap: 24px;
}
.login-input-email {
    padding-left: 27px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.06);
    width: 531px;
    height: 56px;
    outline: none;
    background-color: transparent;
    /* стили текста */
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.login-input-email::placeholder {
    color: rgb(220, 220, 220);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 1;
    transition: opacity 0.35s ease;
}
.login-input-email.placeholder-hidden::placeholder {
    opacity: 0;
}
.login-input-password {
    padding-left: 27px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.06);
    width: 531px;
    height: 56px;
    outline: none;
    background-color: transparent;
    /* стили текста */
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.login-input-password::placeholder {
    color: rgb(220, 220, 220);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 1;
    transition: opacity 0.35s ease;
}
.login-input-password.placeholder-hidden::placeholder {
    opacity: 0;
}
.login-btn-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0 0;
    gap: 167px;
}
.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    width: 280px;
    height: 56px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.login-resset-password-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: right;
    text-decoration-line: underline;
}
.line-conteiner {
    display: flex;
    justify-content: center;
    margin: 23.5px 0 24.5px 0;
}
.line-3 {

    width: 568px;
    height: 0;
    border: 1px solid rgb(255, 255, 255);
}
.login-not-acc-conteiner {
    display: flex;
    justify-content: center;
    gap: 276px;
}
.login-not-acc-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.login-register-text {
    color: rgb(115, 255, 242);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.bg-register {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-auth.png);
    background-repeat: no-repeat;
}
.register-conteiner {
    display: flex;
    justify-content: center;
    margin: 99px;
}
.register-conteiner-bg {
    width: 791px;
    height: 712px;
    border-radius: 20px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.06);
}
.register-conteiner-header {
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
}
.register-conteiner-header-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: center;
}
.register-choice-earn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    margin: 32px 0 0 0;
}
.register-choice-earn-passive-income {
    display: flex;
    align-items: center;
    gap: 7px;
}
.register-choice-earn-public-trading {
    display: flex;
    align-items: center;
    gap: 7px;
}
.icon-question {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
    position: relative; 
}
.register-choice-earn-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    transition: color 0.5s ease;
    position: relative; 
    display: inline-block; /* Важное добавление */
    padding-bottom: 5px; /* Место для подчеркивания */
}
.active-button .register-choice-earn-text {
    color: rgb(115, 255, 242) !important;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.active-button .register-choice-earn-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(115, 255, 242);
}
.icon-question {
    position: relative;
}

.icon-question[data-tooltip] {
    position: relative;
    cursor: help;
}

.icon-question[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    background: rgb(46, 59, 77);
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    
    white-space: nowrap;
    z-index: 10;
    font-size: 14px;
    
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.icon-question[data-tooltip]:hover::after {
    opacity: 1;
}
.register-input-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 39px 0 0 0;
    gap: 24px;
}
.register-input-email {
    padding-left: 27px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.06);
    width: 531px;
    height: 56px;
    outline: none;
    background-color: transparent;
    /* стили текста */
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.register-input-email::placeholder {
    color: rgb(220, 220, 220);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 1;
    transition: opacity 0.35s ease;
}
.register-input-email.placeholder-hidden::placeholder {
    opacity: 0;
}
.register-input-password {
    padding-left: 27px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6);
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.06);
    width: 531px;
    height: 56px;
    outline: none;
    background-color: transparent;
    /* стили текста */
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
}
.register-input-password::placeholder {
    color: rgb(220, 220, 220);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 1;
    transition: opacity 0.35s ease;
}
.register-input-password.placeholder-hidden::placeholder {
    opacity: 0;
}
.register-btn-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0 0;
    gap: 167px;
}
.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    width: 568px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    box-shadow: inset 0px 1px 2px 0px rgba(239, 232, 232, 0.6),inset 0px -4px 12px 0px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    background: linear-gradient(0.00deg, rgb(44, 144, 247) -24.363%,rgb(5, 192, 204) 118.272%);
}
.register-resset-password-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: right;
    text-decoration-line: underline;
}
.line-conteiner {
    display: flex;
    justify-content: center;
    margin: 23.5px 0 24.5px 0;
}
.line-3 {

    width: 568px;
    height: 0;
    border: 1px solid rgb(255, 255, 255);
}
.register-not-acc-conteiner {
    display: flex;
    justify-content: center;
    gap: 276px;
}
.register-not-acc-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.register-text {
    color: rgb(115, 255, 242);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.error-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}
.success-message {
    color: rgb(7, 230, 100);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.error-message {
    color: rgb(255, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.bg-profile-trading {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-trader_cabinet.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-header-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 81px; 
}
.profile-header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.type-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 30px;
    margin: 0 0 0 850px;
    box-sizing: border-box;
    border-radius: 7px;
    border: solid rgb(115, 255, 242);;
    border-width: 2px;
}
.type-profile-text {
    color: rgb(115, 255, 242);
    font-family: Montserratm, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.balance {
    display: flex;
    align-items: center;
    gap: 8px;
}
.balance-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.drop-down-language {
    display: flex;
    align-items: center;
    gap: 4px;
}
.drop-down-language-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}
.drop-down-profile {
    display: flex;
    align-items: center;
    gap: 4px;
}
